*.iml
.gradle/
build/
/captures
.externalNativeBuild/
.cxx/
local.properties
.DS_Store

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/gradle.xml
.idea/httpRequests

*.jks
*.keystore
key.properties
*.p12
*secrets*
*.env
